<section class="profile">
  <img class="img-thumbnail avatar" src="http://www.gravatar.com/avatar/aca0fbd3e200d6daa90692fd8d365f31?s=200" alt="Avatar"/>
  <div class="name">ZHENG Zhong</div>
  <ul class="social-links">
    <li><a href="http://www.linkedin.com/in/zhengzhong" title="LinkedIn"><img src="/assets/img/social_icon_linkedin.png" alt="LinkedIn"/></a></li>
    <li><a href="http://www.flickr.com/photos/zhengzhong" title="Flickr"><img src="/assets/img/social_icon_flickr.png" alt="Flickr"/></a></li>
  </ul>
  <ul class="list-unstyled text-muted">
    <li><span class="glyphicon glyphicon-map-marker"></span> Paris, France</li>
    <li><span class="glyphicon glyphicon-envelope"></span> heavyzheng at gmail D0T com</li>
  </ul>
</section>
