body {
  padding-top: 50px; /* leave space for fixed navbar */
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",宋体,sans-serif;
}

.navbar-inverse {
  background-color: #333333;
  border-bottom: 1px solid #333333;
}

#main-wrapper {
  min-height: 500px;
}

#main-wrapper .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer-wrapper {
  padding: 40px 0 40px 0;
  font-size: 85%;
  color: #bbbbbb;
  background-color: #333333;
}

#footer-wrapper a {
  color: #999999;
  text-decoration: none;
}

#footer-wrapper a:hover, #footer-wrapper a:focus {
  color: #ffffff;
  text-decoration: none;
}

#sidebar h2 {
  padding: 20px 0 10px 0;
  font-size: 140%;
  color: #888888;
}

/* ---------- social icons ------------------------------------------------- */

.social-icons-grayscale a img {
  background-color: #444444;
}

.social-icons-grayscale a:hover img, .social-gray a:focus img {
  background-color: #555555;
}

/* ---------- cover page --------------------------------------------------- */

.cover {
  padding: 80px 0 80px 0;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
}

.cover h1 {
  font-size: 500%;
  padding-bottom: 40px;
}

.cover a {
  color: #999999;
  text-decoration: none;
}

.cover a:hover, .cover a:focus {
  color: #ffffff;
  outline: none; /* remove the annoying dotted outline */
}

.cover p {
  font-size: 160%;
}

/* ---------- common styles ------------------------------------------------ */

.big {
  font-size: 200%;
}

.huge {
  font-size: 1000%;
}

section, .section {
  margin-bottom: 20px;
  clear: both;
}

.label {
  font-size: 85%; /* to better display Chinese characters... */
}

.text-nowrap {
  white-space: nowrap;
}

.page-header, .page-header h1 {
  margin-top: 0;
}

/* ---------- post list ---------------------------------------------------- */

.post-list li {
  padding-bottom: 12px;
}

.post-list .date {
  float: left;
  width: 80px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e0e0e0;
}

.post-list .date .month {
  background-color: #dd0000;
  padding: 4px;
  vertical-align: middle;
  background-color: #da4f49;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #ffffff;
}

.post-list .date .day {
  padding: 4px;
  font-size: 240%;
  line-height: 40px;
}

.post-list .date .year {
  background-color: #f2f2f2;
  padding: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #888888;
  font-weight: normal;
}

.post-list .head, .post-list .body {
  padding-bottom: 8px;
  margin-left: 100px;
}

.post-list .head h2 {
  margin: 0 0 4px 0;
  padding-top: 4px;
  font-size: 140%;
}

.post-list .body {
  color: #888888;
}

/* ---------- post --------------------------------------------------------- */

.post .meta {
  text-align: right;
  margin-bottom: 20px;
}

.post .content h1 {
  font-size: 200%;
}

.post .content h2 {
  font-size: 160%;
}

.post .content h3 {
  font-size: 140%;
}

.post .content img {
  padding: 4px;
  max-width: 640px;
}

/* ---------- photo (with caption) ----------------------------------------- */

.photo {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
      -ms-border-radius: 6px;
       -o-border-radius: 6px;
          border-radius: 6px;
}

.photo img {
  position: absolute;
  width: 100%;
}

.photo .caption,
.photo .caption-fixed {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #333333;
  color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.photo .caption a,
.photo .caption-fixed a {
  color: #999999;
  text-decoration: none;
}

.photo .caption a:hover, .photo .caption a:focus,
.photo .caption-fixed a:hover, .photo .caption-fixed a:focus {
  color: #ffffff;
  text-decoration: none;
}

/* ~ ~ ~ photo caption effect ~ ~ ~ */

.photo .caption {
  -webkit-transition: all 0.2s;
       -o-transition: all 0.2s;
          transition: all 0.2s;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
}

.photo:hover .caption, .photo:active .caption {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}
