body {
  padding-top: 50px; /* leave space for fixed navbar */
}

#main-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 500px;
}

#footer-wrapper {
  padding: 60px 0 60px 0;
  color: #666666;
  background-color: #f2f2f2;
  border-top: 1px solid #d6d6d6;
}

/* ---------- common styles -------------------------------------------------------------------- */

section, .section {
  margin-bottom: 20px;
  clear: both;
}

.label {
  font-size: 85%; /* to better display Chinese characters... */
}

.text-nowrap {
  white-space: nowrap;
}

.page-header, .page-header h1 {
  margin-top: 0;
}

.fa, .glyphicon {
  min-width: 16px;
}

/* ---------- profile -------------------------------------------------------------------------- */

.profile .avatar {
  display: block;
  max-width: 200px;
  margin-bottom: 10px;
}

.profile .name {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile .social-links {
  list-style: none outside none;
  padding-left: 0;
}

.profile .social-links > li {
  display: inline-block;
  padding-right: 4px;
}

/* ---------- sidebar -------------------------------------------------------------------------- */

#sidebar h2 {
  padding: 20px 0 10px 0;
  font-size: 140%;
  color: #888888;
}


/* ---------- post list ------------------------------------------------------------------------ */

.post-list li {
  padding-bottom: 12px;
}

.post-list .date {
  float: left;
  width: 80px;
  padding: 2px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e0e0e0;
}

.post-list .date .month {
  background-color: #dd0000;
  padding: 4px;
  vertical-align: middle;
  background-color: #da4f49;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #ffffff;
}

.post-list .date .day {
  padding: 4px;
  font-size: 240%;
  line-height: 40px;
}

.post-list .date .year {
  background-color: #f2f2f2;
  padding: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #888888;
  font-weight: normal;
}

.post-list .head, .post-list .body {
  padding-bottom: 8px;
  margin-left: 100px;
}

.post-list .head h2 {
  margin: 0 0 4px 0;
  padding-top: 4px;
  font-size: 140%;
}

.post-list .body {
  color: #888888;
}

/* ---------- post ----------------------------------------------------------------------------- */

.post .meta {
  text-align: right;
  margin-bottom: 20px;
}

.post .content h1 {
  font-size: 200%;
}

.post .content h2 {
  font-size: 160%;
}

.post .content h3 {
  font-size: 140%;
}

.post .content img {
  padding: 4px;
  max-width: 640px;
}

